GRAPH_API_VERSION=v26.0
META_APP_ID=
META_APP_SECRET=
META_CONFIG_ID=1472800991549591
META_WA_TOKEN=
META_WABA_ID=
META_PHONE_NUMBER_ID=
META_VERIFY_TOKEN=
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
FRONTEND_ORIGIN=https://bancareinodasorte-tech.github.io
